@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
header {
    width:90%;
    height:95vh;
    /* border: 1px solid #000; */
    margin: auto;
}
header nav {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    justify-content: space-between;
    background: url("https://wallpaperbat.com/img/44615-beautiful-travel-destination-landscape-wallpaper-4k.jpg")no-repeat center center/cover;
}

header nav h1{
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  color: #fff;
}
header nav ul{
    list-style: none; 
    display: flex;
    position: relative;
    width: 100px;
    height: auto;
    
    /* flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 10px gray;
    justify-content: center;
    top: 0px;
    z-index: 99999999;
    padding: 0px 10px 8px 30px; */
}
header nav ul li{
    padding: 15px 25px;
    text-align: center;
}
header nav ul li:nth-last-child(-n+2){
    /* background-color: black; */
    border-radius: 15px;

}
header nav ul li button {
  font-family: 'Times New Roman', Times, serif; /* Set the font family */
  background-color: black; /* Example background color */
  color: white;
  margin-bottom: 10px;
  border-radius: 20px;
}
header nav ul li button:hover {
  color: gray;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 900;
    transition: .3s linear;
    text-align: center;
    padding: 10px 20px;
}
header nav ul li a:hover{
    color: gray;
    
}
.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-header {
    text-align: center;
    margin-bottom: 20px;
}

.about-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-header p {
    font-size: 1.2em;
    color: #666;
}

.company-info {
    margin-bottom: 30px;
}

.company-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.company-info p {
    font-size: 1.2em;
    color: #666;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    flex: 1 1 calc(33% - 20px);
    margin: 10px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.team-member p {
    font-size: 1em;
    color: #666;
}
footer{
    width: 100%;
    height: auto;
    background: rgb(249,249,255);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer h2{
    text-align: center;
    margin: 0;
    margin: 25px;
    line-height: 30px;
    font-weight: 600;
  }
  footer p{
    text-align: center;
    width: 400px;
    font-size: 13px;
  }
  footer .input{
    box-shadow: 0px 3px 20px -1px gray;
    border-radius: 20px;
  }
  footer .input input{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px;
    /* background: #000; */
  }
  footer .input button{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
  }
  footer .input button:hover{
    background: gray;
  }
  .popup-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    border-radius: 10px;
    color: #fff;
  }
  .form-container a{
    color: #fff;
  }
  .form-container a:hover{
    color: grey;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .popup-form .form-container h2{
    text-align: center;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 50%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-container p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .social-links li {
    margin: 0 10px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .social-links a:hover {
    color: #ddd;
  }
  