@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
header {
    width:90%;
    height:95vh;
    /* border: 1px solid #000; */
    margin: auto;
}
header nav {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    justify-content: space-between;
    background: url("https://wallpaperbat.com/img/44615-beautiful-travel-destination-landscape-wallpaper-4k.jpg")no-repeat center center/cover;
}
header nav h1{
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    padding: 5px;
    font-size: 25px;
    margin: 0;
  }
header nav ul{
    list-style: none; 
    display: flex;
    position: relative;
    width: 100px;
    height: auto;
    
    /* flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 10px gray;
    justify-content: center;
    top: 0px;
    z-index: 99999999;
    padding: 0px 10px 8px 30px; */
}
header nav ul li{
    padding: 15px 25px;
    text-align: left;
    color: #fff;
}
header nav ul li:nth-last-child(-n+2){
    /* background-color: black; */
    border-radius: 15px;

}

header nav ul li button {
  font-family: 'Times New Roman', Times, serif; /* Set the font family */
  background-color: black; /* Example background color */
  color: white;
  margin-bottom: 10px;
  border-radius: 20px;
}
header nav ul li button:hover {
  color: gray;
}
header nav ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 13px;
    font-weight: 900;
    transition: .3s linear;
    text-align: center;
    padding: 10px 20px;
}
header nav ul li a:hover{
    color: gray;
    
}
header nav .bi-three-dots-vertical {
    display: unset;
}
header .content {
    position: relative;
    width: 100%;
    height: 93%;
    /* border: 1px solid #000; */
}
header .content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    /* border: 1px solid #000; */
    /*background: url("https://wallpaperbat.com/img/44615-beautiful-travel-destination-landscape-wallpaper-4k.jpg")no-repeat center center/cover; */
    border-radius: 10px;
    z-index: -1;
}
header .content .cont_bx{
  width:500px;
  height:auto;
  color: #000;
  padding: 30px;
}
header .content .cont_bx h1{
  line-height: 40px;
  font-weight: 800;
  margin: 0;
}
header .content .cont_bx p{
  font-size: 14px;
  font-weight: 800;
}
header h1{
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}
.reviews-wrapper {
  position: relative;
  width: 100%; /* Ensure the wrapper takes full width */
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-image: url("https://wallup.net/wp-content/uploads/2016/02/18/286992-nature-colorful-photography.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reviews-container {
  display: flex;
  overflow: hidden;
  padding: 20px;
  width: calc(100% - 100px); /* Subtract arrow width from container width */
  scroll-behavior: smooth;
  justify-content: flex-start;
}

.review {
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 15px;
  padding: 5px;
  background-color: rgba(224, 224, 224, 0.7);
  border-radius: 10px;
  font-size: small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
}

.review::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
  border-radius: 10px;
}

.review:last-child {
  margin-right: 0;
}

.arrow {
  background-color: #ffffff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background-color: #f0f0f0;
}
.popup-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 10px;
  color: #fff;
}
.form-container a{
  color: #fff;
}
.form-container a:hover{
  color: grey;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.popup-form .form-container h2{
  text-align: center;
}
.review-input h3{
  text-align: center;
}
.review-input button{
  align-content: center;
}
.youtube-gallery {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  background-image: url("https://wallpaperaccess.com/full/2551173.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #f0f0f0;  */
}

.youtube-gallery::-webkit-scrollbar {
  height: 8px; /* Adjust the height of the scrollbar */
}

.youtube-gallery::-webkit-scrollbar-thumb {
  background-color: #fff; /* Color of the scrollbar thumb */
  border-radius: 4px;
}

.youtube-gallery::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.youtube-gallery .video-container {
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 15px;
  padding: 5px;
  background-color: rgba(224, 224, 224, 0.7);
  border-radius: 10px;
  font-size: small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
}

.youtube-gallery .video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
  border-radius: 10px;
}
.video-container {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 300px;
  text-align: center;
}
.video-container h2{
  padding-bottom: 7px;
}

iframe {
  width: 100%;
  height: 169px; /* Maintain a 16:9 aspect ratio */
  display: block;
}
h2{
  text-align: center;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 20%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container p {
  margin: 0;
  font-size: 14px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.social-links a:hover {
  color: #ddd;
}
